@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

html, body, #root {
  height: 100%;
}

button{
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}